[submodule "FreeFaaSStore"]
	path = FreeFaaSStore
	url = https://github.com/lambda7xx/FreeFaaSStore.git 
	


[submodule "StoneFlow"]
	path =StoneFlow
	url = https://github.com/lambda7xx/DSCheduler.git

